<div class="container well">
    <div class="row">
      <div class="col-sm-5 text-center">
        <h2><span class="glyphicon glyphicon-comment"></span> Ponte en contacto con el equipo de PinfBet.</h2>
        <p><span class="glyphicon glyphicon-map-marker"></span> Avda. Universidad de Cádiz, nº 10, 11519 Campus Universitario de Puerto Real.</p>
        <p><span class="glyphicon glyphicon-envelope"></span> grupo11proyectosinformaticos@mail.com</p>
      </div>
      <div class="col-sm-7">
        <div class="row">
          <div class="col-sm-6 form-group">
            <input class="form-control" id="name" name="name" placeholder="Nombre" type="text" required>
          </div>
          <div class="col-sm-6 form-group">
            <input class="form-control" id="email" name="email" placeholder="Email" type="email" required>
          </div>
        </div>
        <textarea class="form-control" id="coments" name="coments" placeholder="Comentario" rows="3"></textarea><br>
        <div class="row">
          <div class="col-sm-12 form-group">
            <button class="btn btn-default pull-right" type="submit">Enviar</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container well">
    <a routerLink="aboutus">Prueba</a>
  </div>