<!DOCTYPE html>
<html lang="en">
<head>
<title>Page Title</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {
  font-family: Arial, Helvetica, sans-serif;
}
</style>
</head>
<body>
  <div class="header">
    <h1>PINFBET</h1>
    <p>Una aplicación de apuestas de académicas.</p>
  </div>

  <div class="navbar">
    <a href="#">Amigos</a>
    <a href="#">Mensajes</a>
    <a href="#">Apuestas</a>
    <input type="text" placeholder="Buscar usuarios...">
    <a href="#" class="right">Mi Perfil</a>


  </div>

  <div class="row">
    <div class="side">PRIMER COMMIT DE FRONT-END DE ÁNGEL PARA PROBAR</div>
    <div class="main">En breves HomePage Completa :D</div>
  </div>

  <div class="footer">
    <h2>Barra inferior</h2>
  </div>
</body>
</html> 

