<div class="container-fluid">
  <div class="row">
    <div class="col-sm-4 card card-body bg-light">
      <h3>Has iniciado sesión como:</h3>
      <div class="card" style="width: 400px">
          <i class="far fa-user fa-10x"></i>
        <div class="card-body">
          <h4 class="card-title">@Usuario</h4>
          <p><strong>Cantidad de PinfCoins:</strong> 66</p>
          <p><strong>Estado: </strong>Apostando a tope</p>
        </div>
      </div>
    </div>
    <div class="col-sm-8 card card-body bg-dark text-white">
      <div class="container-fluid text-center">
        <h2>¿Qué ofrece PinfBet?</h2>
        <br>
        <div class="row">
          <div class="col-sm-3">
            <i class="fas fa-mobile fa-8x"></i>            
            <p>Un sistema de apuestas  académicas basado en la moneda virtual PinfCoin.</p>
          </div>
          <div class="col-sm-3">
            <i class="fas fa-file-upload fa-8x"></i>            
            <p>Sube tu expediente académico y obtén tus primeros PinfCoins.</p>
          </div>
          <div class="col-sm-3">
            <i class="far fa-heart fa-8x"></i>
            <p>Agrega a tus amigos y apuesta por sus asignaturas con tus PinfCoins.</p>
          </div>
          <div class="col-sm-3">
            <i class="fas fa-comments-dollar fa-8x"></i>
            <p>Comparte tus comentarios con la comunidad en el foro.</p>
          </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid bg-grey">
  <h2 class="text-center">La opinión de los usuarios</h2>
  <div id="opinionCarousel" class="carousel slide" data-ride="carousel">
  
    <!-- The slideshow -->
    <div class="carousel-inner">
      <div class="carousel-item active">
        <h3 class="text-center"><em>"Espero aprobar todo para poder seguir apostando a tope!</em></h3>
        <p class="text-center">Florinda García</p>
      </div>
      <div class="carousel-item">
        <h3 class="text-center"><em>"Apostar en PinfBet me motiva para estudiar más y obtener PinfCoins.</em></h3>
        <p class="text-center">Luis Pérez</p>
      </div>
      <div class="carousel-item">
        <h3 class="text-center"><em>"Apostando a tope"</em></h3>
        <p class="text-center">Julieta Cid</p>
      </div>
    </div>
  
    <!-- Left and right controls -->
    <a class="carousel-control-prev" href="#opinionCarousel" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#opinionCarousel" data-slide="next">
      <span class="carousel-control-next-icon"></span>
    </a>
  
  </div>
</div>
