<div class="container text-center well">

    <h1>Terms of Use</h1>

    <p> PinfBet (“PinfBet”, “us”, “our” or “we”) is dedicated to 
        protecting the privacy rights of our users (“users” or “you”). 
        This Privacy Policy (this “Policy”) describes how and why we collect, 
        store, use, and manage the information, including personal information, 
        and data that you provide or we collect in connection with our website, 
        including pinfbet-10a92.web.app (the “Site”) or any PinfBet application
        provided on a mobile platform (for example, iOS and Android) (collectively, 
        the “Service(s)”). Please note that the scope of this Policy is limited to 
        information and data collected or received by PinfBet through your use of the Service. 
        PinfBet is not responsible for the actions of third party people or companies, 
        the content of their sites, the use of information or data you provide to them, 
        or any products or services they may offer. Any link to those sites does not
        constitute our sponsorship of, or affiliation with, those people or companies.</p>

    <h1>ACCESS AND USE</h1>
    <ul class="bonito">
        <li>A. Our Services are provided for your personal, non-commercial use only. In all instances, our Services
            are not being sold to you; rather, you are being granted or purchasing a limited license to
            use our Services.
        </li>
        <li>B. When using our Services, you agree to comply with all applicable federal, state, and
            local laws including, without limitation, copyright law. Except as expressly permitted in
            these Terms of Use or as we may otherwise permit, you may not use, reproduce,
            duplicate, distribute, create derivative works based upon, publicly display, publicly perform,
            publish, transmit, or otherwise exploit Service Content for any purpose whatsoever without
            obtaining prior written consent from us. You acknowledge that you do not
            acquire any ownership rights by downloading Service Content.
        </li>
        <li>
            C. Furthermore, except as expressly permitted in these Terms of Use, you may not:
            <ol>
                <li>
                    Remove, alter, cover, or distort any copyright, trademark, or other proprietary rights
                    notice we include in or through our Services or Service Content
                </li>
                <li>
                    Circumvent, disable or otherwise interfere with our security-related features including, 
                    without limitation, any features that prevent or restrict the use of or copying of any 
                    software or other Service Content
                </li>
                <li>
                    Use an automatic device (such as a robot or spider) or manual process to
                    copy or “scrape” the Website or Service Content for any purpose without our express
                    written permission
                </li>
                <li>
                    Collect or harvest any personally identifiable information from our
                    Services including, without limitation, user names, passwords, email addresses;
                </li>
                <li>
                    Solicit other users to join or become members of any commercial online service or other
                    organization without our prior written approval
                </li>
                <li>
                    Attempt to or interfere with the proper working of our Services or impair, overburden, or disable the same
                </li>
                <li>
                    Decompile, reverse engineer, or disassemble any portion of our software or other Service Content, or our Services
                </li>
                <li>
                    Use network-monitoring software to determine architecture of or extract usage data from our Services;
                </li>
                <li>
                    Encourage conduct that violates any local, state or federal law, either civil or criminal, or impersonate another user, 
                    person, or entity (e.g., using another person’s Membership (as defined below));
                </li>
                <li>
                    Engage in any conduct that restricts or inhibits any other user from using or enjoying our Services.
                </li>
            </ol>
        </li>
        <li>
            D. You agree to send true data, without lying in the registrations or records.
        </li>
    </ul>
    <p>D. You agree to fully cooperate with us to investigate any suspected or actual activity
        that is in breach of these Terms of Use.</p>

</div>