<div class="container text-center card card-body bg-light">
    <h2><strong>NUESTRO EQUIPO</strong></h2>
    <p>Este proyecto se ha desarrollado en el contexto de la asignatura de Proyectos Informáticos del grado de Ingeniería Informática de la Universidad De Cádiz por el grupo de trabajo nº11.</p>
    <br>
    <div class="row">
        <div class="col-sm-3">
            <p><strong>Alejandro Cantos</strong></p>
            <i class="fas fa-user-circle fa-10x"></i>
        </div> 
        <div class="col-sm-3">
            <p><strong>José Javier García</strong></p>
            <i class="fas fa-user-circle fa-10x"></i> 
        </div>
        <div class="col-sm-3">
            <p><strong>Ángel Gavira</strong></p>
            <i class="fas fa-user-circle fa-10x"></i>        
        </div>
        <div class="col-sm-3">
            <p><strong>Rafael Guerrero</strong></p>
            <i class="fas fa-user-circle fa-10x"></i>        
        </div>
    </div>
</div>