<div class="container text-center well">
    <h2><strong>NUESTRO EQUIPO</strong></h2>
    <p>Este proyecto se ha desarrollado en el contexto de la asignatura de Proyectos Informáticos del grado de Ingeniería Informática de la Universidad De Cádiz por el grupo de trabajo nº11.</p>
    <br>
    <div class="row">
        <div class="col-sm-3">
            <p><strong>Nombre</strong></p>
            <span class="glyphicon glyphicon-user logo"></span>
        </div>
        <div class="col-sm-3">
            <p><strong>Nombre</strong></p>
            <span class="glyphicon glyphicon-user logo"></span>
        </div>
        <div class="col-sm-3">
            <p><strong>Nombre</strong></p>
            <span class="glyphicon glyphicon-user logo"></span>
        </div>
        <div class="col-sm-3">
            <p><strong>Nombre</strong></p>
            <span class="glyphicon glyphicon-user logo"></span>
        </div>
    </div>
</div>