<div class="container">
    <div class="page-content page-container" id="page-content">
        <div class="padding">
            <div class="row container d-flex justify-content-center">
                <div class="col-xl-6 col-md-12">
                    <div class="card user-card-full">
                        <div class="row m-l-0 m-r-0">
                            <div class="col-sm-4 bg-c-lite-green user-profile">
                                <div class="card-block text-center text-white">
                                    <div class="m-b-25"> <img src="https://img.icons8.com/bubbles/100/000000/user.png" class="img-radius" alt="User-Profile-Image"> </div>
                                    <h6 class="f-w-600">{{nick}}</h6>
                                </div>
                            </div>
                            <div class="col-sm-8">
                                <div class="card-block">
                                    <h6 class="m-b-20 m-t-40 p-b-5 b-b-default f-w-600">Información</h6>
                                            <p class="m-b-10 f-w-600"><i class="fas fa-at"></i> Email</p>
                                            <h6 class="text-muted f-w-400">{{email}}</h6>
                                            <p class="m-b-10 f-w-600"><i class="fas fa-coins"></i> PinfCoins</p>
                                            <h6 class="text-muted f-w-400">{{pinfcoins}}</h6>
                                            <p class="m-b-10 f-w-600"><i class="far fa-comment-alt"></i> Estado</p>
                                            <h6 class="text-muted f-w-400">{{estado}}</h6>
                                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#editStatus">
                                                Editar
                                              </button>
                                              
                                              <!-- The Modal -->
                                              <div class="modal" id="editStatus">
                                                <div class="modal-dialog">
                                                  <div class="modal-content">
                                              
                                                    <!-- Modal Header -->
                                                    <div class="modal-header">
                                                      <h4 class="modal-title">Editar estado:</h4>
                                                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                    </div>
                                              
                                                    <!-- Modal body -->
                                                    <div class="modal-body">
                                                        <form [formGroup]="statusForm" (ngSubmit)="updateStatus()">  
                                                            Nuevo estado: <input 
                                                            type="text" 
                                                            class="form-control" 
                                                            formControlName="estado">
                                                            <br/>
                                                              <button class="btn btn-primary" type="submit">Subir asignatura</button>
                                                          </form>  
                                                    </div>
                                              
                                                    <!-- Modal footer -->
                                                    <div class="modal-footer">
                                                      <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                                                    </div>
                                              
                                                  </div>
                                                </div>
                                              </div>       
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

