<div class="container text-center well">
    <h1>Amistades</h1>
    <p>Gestiona tus amistades</p>
    <div class="example-card text-center container">
      <mat-card class="bg mgt">
        <mat-card-header class="block h6 w25">
          <div mat-card-avatar>
            <img src="https://img.icons8.com/bubbles/100/000000/user.png" alt="User-Profile-Image">
          </div>
          <mat-card-title class="inline">@rgued98</mat-card-title>
          <mat-card-subtitle class="mgt1">Peticion de amistad</mat-card-subtitle>
        </mat-card-header>
        <mat-card-actions class="w25">
          <div>
            <button mat-button >Aceptar</button>
            <button mat-button >Rechazar</button>
          </div>
        </mat-card-actions>
      </mat-card>

      <mat-card class="bg mgt">
        <mat-card-header class="block h6 w25">
          <div mat-card-avatar>
            <img src="https://img.icons8.com/bubbles/100/000000/user.png" alt="User-Profile-Image">
          </div>
          <mat-card-title class="inline">@Francisco</mat-card-title>
          <mat-card-subtitle class="mgt1">Peticion de amistad</mat-card-subtitle>
        </mat-card-header>
        <mat-card-actions class="w25">
          <div>
            <button mat-button >Aceptar</button>
            <button mat-button >Rechazar</button>
          </div>
        </mat-card-actions>
      </mat-card>

      <mat-card class="bg mgt">
        <mat-card-header class="block h6 w25">
          <div mat-card-avatar>
            <img src="https://img.icons8.com/bubbles/100/000000/user.png" alt="User-Profile-Image">
          </div>
          <mat-card-title class="inline">@El pepe</mat-card-title>
        </mat-card-header>
      </mat-card>

      <mat-card class="bg mgt">
        <mat-card-header class="block h6 w25">
          <div mat-card-avatar>
            <img src="https://img.icons8.com/bubbles/100/000000/user.png" alt="User-Profile-Image">
          </div>
          <mat-card-title class="inline">@Medusa</mat-card-title>
        </mat-card-header>
      </mat-card>
    </div>
</div>