<div class="container text-center well">

    <h1>Privacy Policy</h1>
    <h1>Welcome to PinfBet. Your privacy is important to us</h1>

    <p> PinfBet (“PinfBet”, “us”, “our” or “we”) is dedicated to 
        protecting the privacy rights of our users (“users” or “you”). 
        This Privacy Policy (this “Policy”) describes how and why we collect, 
        store, use, and manage the information, including personal information, 
        and data that you provide or we collect in connection with our website, 
        including pinfbet-10a92.web.app (the “Site”) or any PinfBet application
        provided on a mobile platform (for example, iOS and Android) (collectively, 
        the “Service(s)”). Please note that the scope of this Policy is limited to 
        information and data collected or received by PinfBet through your use of the Service. 
        PinfBet is not responsible for the actions of third party people or companies, 
        the content of their sites, the use of information or data you provide to them, 
        or any products or services they may offer. Any link to those sites does not
        constitute our sponsorship of, or affiliation with, those people or companies.</p>

    <p class="ini">This table of contents will help your navigate this Privacy Policy:</p>

    <p class="ini">Contents</p>
    <ol class="ini">
        <li class="ini">PinfBet as Data controller
            1.1.Information and Data we Collect from you
            1.2.How We Use Your Information
        </li>
        <li class="ini">Rights of data subjects
            2.1.Basic rights
            2.2.Accessing, Correcting, and Deleting Your Information
        </li>
        <li class="ini">Changes to This Policy</li>
        <li class="ini">Contact Information Section</li>
    </ol>

    <h1 class="ini">1.	PinfBet as Data controller</h1>
    <h2 class="ini">1.1.Information and Data we Collect from you</h2>

    <p class="ini">We may collect the following information and data from you:</p>

    <ul class="ini">
        <li class="ini">Automatically collected email address, and language)</li>
    </ul>

    <h2 class="ini">1.2. How We Use Your Information</h2>

    <p class="ini"> We may use your information to:</p>

    <ul class="ini">
        <li class="ini">Operate and improve our Service</li>
        <li class="ini">Respond to your comments and questions and provide customer service</li>
    </ul>

    <h1 class="ini">2. Rights of data subjects</h1>
    <h2 class="ini">2.1. Basic rights</h2>

    <p class="ini">You have the right to request the access and rectification or erasure of personal data 
        or restriction of processing or to object to processing as well as the right to data portability. 
        Further, you have a right to lodge a complaint with a respective supervisory authority.</p>

    <ul class="ini">
        <li class="ini">The right to rectification is your right to obtain without undue delay the rectification of inaccurate personal data concerning you</li>
        <li class="ini">The right to erasure is your right to obtain the erasure of personal data concerning you without undue delay, where certain additional circumstances are fulfilled</li>
        <li class="ini">Under certain circumstances you have the right to restrict the processing of personal data;</li>
    </ul>

    <h2 class="ini">2.2.Accessing, Correcting, and Deleting Your Information</h2>

    <p class="ini"> Upon request, we will provide you with information about whether 
        we hold any of your personal information. If your personal information 
        changes, or if you no longer desire our Services, you may correct, update, 
        delete inaccuracies, or delete your personal information by making the change
        within your account settings or by contacting us. We will respond to your access 
        request within a reasonable timeframe.</p>

</div>